:root {

    --color-cyan-600: hsla(192, 37%, 48%, 1);
    --color-cyan-300: hsla(192, 90%, 77%, 1);

    --color-purple-600: hsla(268, 34%, 53%, 1);
    --color-purple-300: hsla(268, 100%, 86%, 1);

    --color-slate-900: hsla(240, 21%, 20%, 1);
    --color-slate-600: hsla(240, 10%, 57%, 1);
    --color-slate-300: hsla(240, 18%, 85%, 1);

    --color-white: hsla(0, 0%, 98%, 1);

    --space-1400: 112px;
    --space-1000: 80px;
    --space-900: 72px;
    --space-800: 64px;
    --space-700: 56px;
    --space-500: 40px;
    --space-400: 32px;
    --space-300: 24px;
    --space-200: 16px;
    --space-100: 8px;
    --space-50: 4px;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

/* mobile/text-preset-1 */
h1 {
    color: var(--color-slate-900, #28283D);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;

    /* mobile/text-preset-1 */
    font-family: "Red Hat Display";
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 110%;
    /* 44px */
}

h1 br {
    /* display: none; */
}

/* mobile/text-preset-2 */
h2 {
    color: var(--color-slate-900, #28283D);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;

    /* mobile/text-preset-2 */
    font-family: "Red Hat Display";
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 110%;
    /* 35.2px */

    max-width: 400px;
}

/* tablet/text-preset-4 */
p {
    color: var(--color-slate-600, #87879D);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;

    /* tablet/text-preset-4 */
    font-family: "Red Hat Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 24px */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100vw; */
    /* overflow: hidden; */
}

header {
    margin-top: 48px;
}

.hero img {
    display: none;

}

.hero {

    padding-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

#tagline {
    max-width: 415px;
}

#img-wrap {
    width: 100vw;
    margin-top: var(--space-800);
    overflow: hidden;
}

#hero-img-holistic {
    height: 40vw;
    max-width: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-300);

    position: relative;

    padding-left: var(--space-400);
    padding-right: var(--space-400);
    padding-bottom: var(--space-800);
}

.block p {
    max-width: 550px;
}

.dark {
    padding-top: var(--space-800);
    background-image: url("./assets/mobile/image-footer.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
    margin-top: var(--space-1400);
    margin-bottom: 0px;

    width: 100vw;
}

.dark::after {
    background: var(--color-cyan-600);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 90%;
}

.dark p,
.dark h1,
.dark h2 {
    color: var(--color-white);
}

.dark h2 {
    max-width: none;
}

.dark * {
    z-index: 1;
}

#final-header {
    position: absolute;
    top: -110px;
}

/* mobile/text-preset-3 */
.top-text {
    color: var(--color-cyan-600, #4D96A9);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;

    /* mobile/text-preset-3 */
    font-family: "Red Hat Display";
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: 110%;
    /* 13.2px */
    letter-spacing: 4px;
    text-transform: uppercase;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: var(--space-200);
    align-items: center;
}

/* desktop/text-preset-5 */
button {
    display: flex;
    padding: var(--spacing-200, 16px) var(--spacing-500, 40px);
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-100, 8px);

    border-radius: 29px;
    background: var(--color-cyan-600, #4D96A9);
    border: 0;
    width: fit-content;

    /* text */
    color: var(--color-white, #FAFAFA);
    font-feature-settings: 'liga' off, 'clig' off;

    /* desktop/text-preset-5 */
    font-family: "Red Hat Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
    /* 24px */
}

button.secondary {
    background: var(--color-purple-600)
}

button.primary span {
    color: var(--color-cyan-300);
}

button.secondary span {
    color: var(--color-purple-300);
}


.section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--space-800);
}


.line {
    height: 80px;
    width: 1px;
    background-color: var(--color-slate-300);
}

/* desktop/text-preset-5 */
.circle {

    /* circle styling */
    width: 56px;
    border-radius: 100%;
    aspect-ratio: 1 / 1;
    border: 1px solid var(--color-slate-300);
    background-color: var(--color-white);

    /* text positioning */
    display: flex;
    justify-content: center;
    align-items: center;

    /* text colour */
    color: var(--color-slate-600, #87879D);
    font-feature-settings: 'liga' off, 'clig' off;

    /* desktop/text-preset-5 */
    font-family: "Red Hat Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;

}

.img-grid {
    padding-left: var(--space-400);
    padding-right: var(--space-400);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    column-gap: var(--space-200);
    row-gap: var(--space-200);

    margin-bottom: var(--space-800);

}

.img-grid img {
    width: 100%;
    height: auto;
    border-radius: var(--space-100);
}

@media (min-width: 768px) {

    .img-grid {
        padding-left: var(--space-400);
        padding-right: var(--space-400);

        display: grid;
        grid-template-columns: repeat(4, minmax(0, 256px));
        grid-template-rows: auto;
        column-gap: var(--space-300);
        row-gap: var(--space-200);


        margin-bottom: var(--space-800);
        

    }

    .button-group {
        display: flex;
        flex-direction: row;
        gap: var(--space-200);
        align-items: center;
    }

    #num-1 {
        margin-top: var(--space-800);
    }

    .dark {
        background-image: url("./assets/tablet/image-footer.jpg");
    }

    /* text-preset-1 */
    h1 {
        font-size: 48px;
        line-height: 110%;
    }

    /* text-preset-2 */
    h2 {
        font-size: 36px;
        line-height: 110%;
    }

    /* text-preset-3 */
    .top-text {
        font-size: 14px;
        line-height: 110%;
        letter-spacing: 4px;
    }

    /* text-preset-5 */
    .circle {
        font-size: 16px;
        line-height: 150%;
    }

    /* text-preset-5 */
    button {
        font-size: 16px;
        line-height: 150%;
    }

    /* text-preset-4 */
    p {
        font-size: 16px;
        line-height: 150%;
    }
}



@media (min-width: 1024px) {

        .img-grid {

        column-gap: var(--space-400);

    }

#hero-img-holistic {
    display: none;
}

.dark {
    flex-direction: row;
    justify-content: center;
    gap: 95px;
    padding:  112px 0px 119px 0px;
    background-image: url("./assets/desktop/image-footer.jpg");
}

.dark h2, .dark p {
    max-width: 350px;
    text-align: left;
}

    /* text-preset-1 */
    h1 {
        font-size: 64px;
        line-height: 110%;
    }

    /* text-preset-2 */
    h2 {
        font-size: 40px;
        line-height: 110%;
    }

    /* text-preset-3 */
    .top-text {
        font-size: 16px;
    }

    /* text-preset-4 */
    p {
        font-size: 18px;
        line-height: 150%;
    }

}